*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}


:root {
    --primary-background: #353940;
    --secondary-background: #3d4144;
    --primary-font: ;
    --secondary-font: ;
    --tabs-font: calibri;
    --gallery-font: futura;
    --text-font: gotham;
    --add-font: oswald;
    /* or telegraf */
    --arrow-shadow: ;
    --grid-border: ;
    --tabs-border: ;
    --primary-shadow: ;
    --tabs-padding: ;
    --gallery-padding: ;
    --imgbtn-padding: ;
    --arrow-padding: ;
    --icon2-margin-top: ;
    --gallery-img-radius: 1rem;
    --grid-border-rad: 1.5rem;

}

body {
    background-color: var(--primary-background);
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 90%;

    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem 3rem;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    grid-template-areas:
        "leftside widget1"
        "leftside widget2";
    border-radius: var(--grid-border-rad);
    /* padding: 2rem; */
}

.leftside {
    grid-area: leftside;
    background-color: var(--secondary-background);
    border-radius: var(--grid-border-rad);
    padding: 2rem;
    /* font-size: 1.4rem; */

}